.ivu-split-wrapper {
    position: relative;
    width: 100%;
    height: 100%
  }
  
  .ivu-split-pane {
    position: absolute
  }
  
  .ivu-split-pane.left-pane,.ivu-split-pane.right-pane {
    top: 0;
    bottom: 0
  }
  
  .ivu-split-pane.left-pane {
    left: 0
  }
  
  .ivu-split-pane.right-pane {
    right: 0
  }
  
  .ivu-split-pane.bottom-pane,.ivu-split-pane.top-pane {
    left: 0;
    right: 0
  }
  
  .ivu-split-pane.top-pane {
    top: 0
  }
  
  .ivu-split-pane.bottom-pane {
    bottom: 0
  }
  
  .ivu-split-pane-moving {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .ivu-split-trigger {
    border: 1px solid #dcdee2
  }
  
  .ivu-split-trigger-con {
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10

  }
  
  .ivu-split-trigger-bar-con {
    position: absolute;
    overflow: hidden;
    cursor:pointer;
  }
  
  .ivu-split-trigger-bar-con.vertical {
    left: 1px;
    top: 50%;
    height: 32px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  
  .ivu-split-trigger-bar-con.horizontal {
    left: 50%;
    top: 1px;
    width: 32px;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  
  .ivu-split-trigger-vertical {
    width: 6px;
    height: 100%;
    background: #f8f8f9;
    border-top: none;
    border-bottom: none;
    cursor: col-resize
  }
  
  .ivu-split-trigger-vertical .ivu-split-trigger-bar {
    width: 4px;
    height: 1px;
    background: rgba(23,35,61,.25);
    float: left;
    margin-top: 3px;
  }
  
  .ivu-split-trigger-horizontal {
    height: 6px;
    width: 100%;
    background: #f8f8f9;
    border-left: none;
    border-right: none;
    cursor: row-resize
  }
  
  .ivu-split-trigger-horizontal .ivu-split-trigger-bar {
    height: 4px;
    width: 1px;
    background: rgba(23,35,61,.25);
    float: left;
    margin-right: 3px
  }
  
  .ivu-split-horizontal .ivu-split-trigger-con {
    top: 50%;
    height: 100%;
    width: 0
  }
  
  .ivu-split-vertical .ivu-split-trigger-con {
    left: 50%;
    height: 0;
    width: 100%
  }
  
  .ivu-split .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  